<%- include("header") %>

<div style="border: 2px red dotted; height: 500px; width: 1000px">
  <table class="table table-stripped" align="center">
    <% for (let d of catList){ %>
    <tr>
      <td><%= d.catname %></td>
      <td>
        <a href="/editcategory?catid=<%=d._id%>">Edit</a> |
        <a href="/delcategory?catid=<%=d._id%>"> Delete</a>
      </td>
    </tr>
    <%} %>
  </table>
</div>
