<html>
  <body>
    <form action="contactusSubmit" method="post">
      <table align="centre">
        <tr>
          <td>Enter Email</td>
          <td><input type="email" name="email" /></td>
        </tr>
        <tr></tr>
        <tr>
          <td>Enter Name</td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr></tr>
        <tr>
          <td>Enter your query</td>
          <td><textarea cols="12" rows="12" name="uquery" /></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="Login" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
