<html>
  <body>
    <form action="loginsubmit" method="post">
      <table align="center">
        <tr>
          <td>Enter Name</td>
          <td>
            <input type="text" name="name" />
          </td>
        </tr>
        <tr>
          <td>Enter Email</td>
          <td>
            <input type="email" name="email" />
          </td>
        </tr>
        <tr>
          <td>Enter Password</td>
          <td>
            <input type="password" name="pass" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
